
.navbar {
    align-items: center;
    background: linear-gradient(180deg, rgb(44, 42, 42) 0%, rgb(54, 53, 53) 100%);
    display: flex;
    /* justify-content: center; */
    height: 70px;
    position: sticky; /*may need to delete*/
    /* z-index: 999; */
  }

  .navbar-box {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: center;
    /* max-width: 1500px; */
  }

  .navbar-initials {
    align-items: center;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: Courier;
    font-size: 2rem;
    font-weight: bold;
    justify-self: start;
    margin-left: 20px;
    text-decoration: none;
    width: 20vw;
  }

  .nav-menu {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(4, auto);
    justify-content: end;
    list-style: none;
    margin-right: 2rem;
    /* text-align: center; */
    width: 60vw; /* may need to change later */
  }
  
  .nav-menu-item {
    height: 70px;
    /* width: 150px; */

    
  }
  
  .nav-menu-link 
  {
    text-align: center;
    align-items: center;
    color: #fff;
    display: flex;
    font-family: Courier;
    font-size: 1.4rem;
    font-weight: bold;
    height: 77%;
    justify-self: end;
    padding: 0.5rem; 

    text-decoration: none;
    width: 150px;
  }
  
  .nav-menu-link:hover { 
    /* position: absolute; */
    /* height: 100%;
    top: 0;
    z-index: 0; */
    background: #5962b1;
    /* width: 100px; */
    /* border-bottom: 4px solid #774141; */
    transition: all 0.2s ease-out;
  }
  
  .nav-menu-about {
    align-items: center;
    color: #fff;
    display: flex;
    font-family: Courier;
    font-size: 1.4rem;
    font-weight: bold;
    height: 75%;
    justify-self: end;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }

  .nav-menu-about:hover {
    background: #b8b373;
    /* width: 100px; */
    /* border-bottom: 4px solid #774141; */
    transition: all 0.2s ease-out;
  }

  .menu-icon {
    color: #fff;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }