.hero-banner {
    background-size: cover; /* Cover ensures the image covers the entire container */
    background-position: center;
    position: absolute;
    width: 100%;
    /* top: 42px;
    right:0px;
    bottom:0px;
    left:0px; */
    height: 500px;
  }
  
  .hero-image {
    width: 100%;
    /* height: auto; */
    object-fit: cover; /* Ensure the image covers the entire container */
    height: 100%;
    /* border: solid 5px; */
    /* border-color: aliceblue; */
  }
  