* {
  /* box-sizing: border-box;*/
  padding: 0;
  margin: 0;
  /* max-height: 90vh; */
  /* height: 90vh; */
  z-index: 1;
  /* max-height: 960px; */
  /* background-color: aqua; */
}

@font-face {
  font-family: "MSSansSerif";   /*Can be any text*/
  src: local("MS_Sans_Serif"),
    url("./fonts/MS_Sans_Serif.ttf") format("truetype");
}

@font-face {
  font-family: "MSSansSerifBold";   /*Can be any text*/
  src: local("MS_Sans_Serif_Bold"),
    url("./fonts/MS_Sans_Serif_Bold.ttf") format("truetype");
}